.vscode/
.clang-format
versions.xlsx
tmp.py
.pytest_cache
collect_data.py
__pycache__/
~$versions.xlsx
*.exe
tournament.txt
sigma-zero
old
consts_backup.c
consts_best.c
*.log
chessData.csv
cachegrind.*
gmon.out
profile*
*.er